{{ form_start(form) }}

<div
	class="flex flex-wrap gap-6">
	{# Bloc gauche - 2/3 de largeur #}
	<div class="flex-grow w-full ">
		<div class="grid grid-cols-2 gap-4">
			{{ form_row(form.firstname) }}
			{{ form_row(form.lastname) }}
			{{ form_row(form.birth_) }}
			{{ form_row(form.civility) }}
			{{ form_row(form.nationality) }}
			{{ form_row(form.email) }}
			{{ form_row(form.number_cin) }}
			{{ form_row(form.number_matricule) }}
			{{ form_row(form.adresse_exact) }}
			{{ form_row(form.code_postal) }}
			{{ form_row(form.lieu) }}
		</div>
	</div>

	{# Bloc droit - 1/3 de largeur #}
	<div class="w-full">
		<div class="grid grid-cols-1 gap-4">
			{{ form_row(form.work_post) }}
			{{ form_row(form.date_begin) }}
			{{ form_row(form.date_end) }}
			{{ form_row(form.salary_base) }}
			{{ form_row(form.hours_per_week) }}
			{{ form_row(form.day_per_week) }}
			{{ form_row(form.horary) }}
			{{ form_row(form.phone_number) }}
			{{ form_row(form.situation_family) }}
			{{ form_row(form.number_child) }}

		</div>
	</div>
</div>

{# Bouton soumis centré #}
<div class="flex justify-center mt-8">
	<button type="submit" class="px-8 py-3 bg-blue-600 text-white rounded-lg hover:bg-blue-700 transition-colors duration-200 text-lg font-medium">
		{{ button_label|default('Enregistrer') }}
	</button>
</div>

{{ form_end(form) }}
